<div ng-controller="static_loginregisterCtrl" class="module static_loginregister">
  <h2>{{ 'login.title' | translate}}</h2>
  <form is="iron-form" method="post" action="/">
    <koa-input name="email"
               label="{{'login.email' | translate}}"
               type="email"
               ng-model="static_loginregister.email"
               auto-validate
               required>
    </koa-input>
    <koa-input name="pwd"
               label="{{'login.password' | translate}}"
               ng-model="static_loginregister.pwd"
               type="password"
               required>
    </koa-input>
    <koa-button raised ng-click="send()">{{'login.'+buttonText | translate}}</koa-button>
  </form>
  <p class="status" ng-if="static_loginregister.status">{{static_loginregister.status}}</p>

</div>
